/* You can add global styles to this file, and also import other style files */

/*
  Creating boxes around every user and adjusting the size along with corners
*/
.listOfUsers {
  border: 2px solid;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  background-color: burlywood;
}

/*Editing the h2 color and aligning it to the center */
h2{
  color: brown;
  text-align: center;
}

/* Normal details text font and color */
p{
  color: brown;
}
