<div *ngIf="player" class="player-list-item">
  <h2>Player Information</h2>
<!--  Navigation buttons-->

  <img ngSrc="image/{{player.imageUrl}}" alt="Player Pictures" width = "150" height="200" priority>;
  <!--reference for images= https://www.ufc.com/athlete/-->
  <p><strong>Name</strong>{{player.name | uppercase}}</p>
  <p><strong>Age</strong>{{player.age}}</p>
  <p><strong>Favourite Sport</strong>{{player.favSport}}</p>
  <p><strong>Bench PR</strong>{{player.benchPR}}</p>
  <p><strong>Favourite Food</strong>{{player.favFood}}</p>
  <p><strong>date</strong>{{player.date | date: 'dd-MM--yyyy'}}</p>
  <p><strong>netWorth</strong>{{player.netWorth | currency: 'CAD': "symbol-narrow"}}</p>
</div>
